* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.background {
  display: flex;
  place-items: center;
  height: 100vh;
  background-color: rgb(140, 187, 65);
  transition: background-color 1s ease;
}

#quote-box {
  display: flex;
  flex-direction: column;
  place-items: center;
  max-width: 500px;
  margin: 0 auto;
  padding: 2em;
  background-color: white;
  color: black;
  border-radius: 4px;
  box-shadow: 
      rgba(0, 0, 0, 0.25) 0px 54px 55px,
      rgba(0, 0, 0, 0.12) 0px -12px 30px,
      rgba(0, 0, 0, 0.12) 0px 4px 6px,
      rgba(0, 0, 0, 0.17) 0px 12px 13px,
      rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#text {
  text-align: center;
  margin-bottom: 0.5em;
  font-weight: normal;
}

#author {
  align-self: flex-end;
  font-weight: normal;
}

#title {
  margin-bottom: 0.5em;
}

#tweet-quote,
button {
  background-color: #1DA1F2;
  color: white;
  padding: 0.5em;
  border: none;
  border-radius: 4px;
  font-size: 1em;
  font-weight: 600;
  font-family: inherit;
  cursor: pointer;
  margin-right: 0.5em;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  transition: background-color 1s ease;
}

.button-container {
  align-self: flex-start;
}